
textarea { font-size: 50px; }

  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #6699FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
table, th, td , textarea {
  font-family: "FreesiaUPC";
	font-size: 24px;


}

 th, td {
    border: 0px solid black;
}
table {
    border: 0px solid black;
	border-radius: 25px;
}
#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 0px solid #ddd;
    padding: 5px;
}



#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #81b9bf;
    color: black;
    border: 2px solid #b6c2b7;
    padding: 5px;
}
.container {
background-color: #acd5ff;

}
button {
    background-color: #81b9bf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 30px;
}

button:hover {
    opacity: 0.8;
}
.col-12{width: 100%}
.col-4 {width: 33.33%;}
.col-6 {width: 50%;}
.col-8 {width: 66.67%;}
.col-24 {width: 20%;}
[class*="col-"] {
    float: left;
    padding: 20px;
  /*border: 1px solid red;*/
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #4bacb8;
    font-family: "FreesiaUPC";
  	font-size: 24px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #00766c;
    color: black;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  border: 5px solid #f1f1f1;
  background-color: rgb(103, 171, 214);
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.form-container .btncancel {
  background-color: red;
  width: 100%;
  color: white;
}

.btn {
  display:block;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  /* border: 1px solid red; */
}
.container {
    padding: 16px;
}
.container {
background-color: #acd5ff;

}
body {
   background-color :#80deea;
  background-repeat: repeat-x;
}
